.TitleBar {
    display: flex;
}

.TitleBar h1 {
    padding-left: 10px;
}

.Description-active {
    display: block;
}

.Description-inactive {
    display: none;
}

.toggleButton {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 8px;
}