.About {
    display: flex;
    margin-top: 20px;
}

.Primary {
    display: inline-block;
    flex: 3;
    padding: 10px;
}

.Secondary {
    display: inline-block;
    flex: 1;
    padding: 10px;
}

.SoftwareImage{
    width: 20%;
    padding: 0.2em;
}

@media only screen and (max-width: 960px){
    .About {
        display: block;
    }
    
    .Primary {
        width: 100%;
    }
    
    .Secondary {
        width: 100%;
    }

    .SoftwareImage{
        width: 16.6666%;
        padding: 0.1em;
    }
}