@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

/* Overall */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html {
	background: #f1f1f1;
	height: 100%;
	margin: 0;
	-webkit-text-size-adjust: none;
}

ul, ol, li {
	list-style: none;
}

#root {
	height: 100%;
}

.App {
	display: flex;
	flex-flow: column;
	margin: auto;
	width: 90%;
	height: 100%;
	max-width: 1800px;
	padding: 40px 80px;
}

/* Main Structure */

.Container {
	display: contents;
}

.HeaderWrapper {
	flex: 0 1 auto;
}

.ContentWrapper {
	flex: 1 1 auto;
}

.FooterWrapper {
	flex: 0 0 10em;
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

html {
	box-sizing: border-box;
}

*, *::before, *:after {
	box-sizing: inherit;
}

body {	
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("../public/images/bg01.png");
	background-color: #f7f7f7;
	background-position: top left, top left;
	background-repeat: repeat-x, repeat;
	background-size: 100% 30em, auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 13pt;
	color: #696969;
	font-weight: 300;
	line-height: 2.25em;
}

a {
	color: #0090c5;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
	font-weight: 800;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

h2 {
	font-size: 2.25em;
	margin: 0 0 1.1em 0;
	line-height: 1em;
}

h3 {
	font-size: 1.35em;
	margin: 0 0 1em 0;
}

ul, ol {
	margin-bottom: 2em;
}

/* Smaller screens and tablets */
@media only screen and (max-width: 1680px) {

  }
  
  @media only screen and (max-width: 1280px) {

  }
  
  @media only screen and (max-width: 980px) {
	.App {
		width: 95%;
		padding: 0;
	}
  }
  
  @media only screen and (max-width: 736px){
	.App {
		width: 95%;
		padding: 0;
	}
  }